<% @providermanager.providermanagerdetails.each do |detail| %>
	<tr>
		<td><%= detail.officenumber %></td>
		<td><%= detail.extension %></td>
		<td><%= detail.cellnumber %></td>
		<td><%= detail.faxnumber %></td>
		<td><%= detail.officialemail %></td>
		<td><%= detail.secundaryemail %></td>
		<% if show_actions %>
			<td><%= link_to "Eliminar", providermanager_providermanagerdetail_path(detail.providermanager.id, detail.id), method: :delete, remote: true %> </td>
		<% end %>
	</tr>
<% end %>