<p id="notice"><%= notice %></p>

<p>
  <strong>Legalcertificate:</strong>
  <%= @customer.legalcertificate %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Businessname:</strong>
  <%= @customer.businessname %>
</p>

<p>
  <strong>Customer type:</strong>
  <%= @customer.customer_type %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>District:</strong>
  <%= @customer.district %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @customer.neighborhood %>
</p>

<p>
  <strong>Othersing:</strong>
  <%= @customer.othersing %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
