<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_document_reference.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @type_document_reference.code %>
</p>

<%= link_to 'Edit', edit_type_document_reference_path(@type_document_reference) %> |
<%= link_to 'Back', type_document_references_path %>
