<div class="container-fluid">
  <div class="row">
    <div class="panel-body">
      <%= form_for(sex) do |f| %>
        <% if sex.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(sex.errors.count, "error") %> prohibited this sex from being saved:</h2>

            <ul>
            <% sex.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row">
          <div class="col-xs-2">
            <%= f.label :description, "Género" %>
          </div>
          <div class="col-xs-10">
            <%= f.text_field :description, autofocus: true, placeholder: "Género", class: "form-control" %>
          </div>
        </div>

        <%= f.submit "Aceptar", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>